body {
    background-image: url(background.jpg);
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1 {
    color: red;
    font-size: 70px;
    font-family: monospace;
    padding: 20px;
}
button {
    color: aliceblue;
    background-color: red;
    font-size: 30px;
    font-family: monospace;
    width: 200px;
    border-radius: 5px;
}
p {
    color: red;
    font-size: 50px;
    font-family: monospace;
}
.input {
    background-color: rgb(12, 25, 40, 0.8);
    width: 750px;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    padding-top: 50px;
}
header ul {
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
}
header ul li {
    display: inline;
    margin-right: 20px;
}
header ul li a {
    text-decoration: none;
    color: red;
    font-size: 20px;
    font-family: monospace;
}
header ul li a:hover {
    text-decoration: underline;
}
header {
    margin-bottom: 20px;
}
footer {
    color: red;
    font-size: 15px;
    font-family: monospace;
    text-align: center;
    margin-top: 20px;
}